@mixin btn{
    padding: 14px 32px;
    width: 130px;
    height: 52px;
    background: #3671E9;
    border-radius: 32px;
    border: none;
}
@mixin d-flex ($justContent:space-between, $aItem: center){
    display: flex;
    justify-content: $justContent;
    align-items: $aItem;

}
@mixin btn2{
    padding: 16px 16px 16px 24px;
    display: flex;
    width: 202px;
    height: 64px;
    background: #3671e9;
    border-radius: 32px;
    border: none;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    align-items: center;
}