* {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

select {
  border: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 16px;
  box-sizing: border-box;
}

.bacColor {
  background-color: #0d0d2b;
}

header {
  display: flex;
  align-items: center;
}
header .header__logo {
  width: 135px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 451px;
}
header .header__logo h3 {
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
header .btn {
  padding: 14px 32px;
  width: 130px;
  height: 52px;
  background: #3671E9;
  border-radius: 32px;
  border: none;
}
header .heder__nav {
  margin-right: 30px;
}
header .heder__nav > ul {
  display: flex;
  justify-content: space-between;
}
header .heder__nav > ul li > a {
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
header .heder__nav > ul #login {
  margin-left: 56px;
}
header .line {
  margin-right: 5px;
  width: 1px;
  height: 24px;
  opacity: 0.3;
  border: 1px solid #f2f2f2;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__left__info .save {
  padding: 4px 16px 4px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
}
.hero__left__info .save p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.hero__left__info .save span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #0d0d2b;
  background: #ffffff;
  border-radius: 32px;
  padding: 4px 16px;
}
.hero__left__info h1 {
  margin-top: 28px;
  width: 588px;
  height: 228px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #ffffff;
  margin-bottom: 24px;
}
.hero__left__info p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}
.hero__left__info .btn {
  margin-top: 32px;
  padding: 16px 16px 16px 24px;
  display: flex;
  width: 202px;
  height: 64px;
  background: #3671e9;
  border-radius: 32px;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  align-items: center;
}
.hero__left__info .btn img {
  margin-left: 24px;
}
.hero__righet__img {
  width: 604px;
  height: 585.15px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background-color: #0D0D2B;
}

.footer__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__hero .footerLogo {
  margin-bottom: 60px;
}
.footer__hero .footerLogo img {
  margin-bottom: 113px;
}

.ul-list b {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  mix-blend-mode: normal;
}
.ul-list .links {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: #F2F2F2;
}

.footer__karta .footer__title {
  width: 200px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: #F2F2F2;
  mix-blend-mode: normal;
}

.footer__end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.footer__end p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.WhyCRAPPO .numbers {
  margin-top: 257px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.WhyCRAPPO .numbers .cards {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.WhyCRAPPO .numbers .cards img:hover {
  transform: rotate(360deg);
  transition: 1s;
}
.WhyCRAPPO .numbers .cards .cards__text h4 {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #ffffff;
}
.WhyCRAPPO .numbers .cards .cards__text P {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .content__Illustrations img {
  width: 650px;
  height: 473px;
  -o-object-fit: contain;
     object-fit: contain;
}
.content .content__text {
  margin-left: 70px;
}
.content .content__text h5 {
  width: 480px;
  height: 119.95px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #ffffff;
}
.content .content__text p {
  width: 408px;
  height: 83.96px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
  margin-top: 24px;
}
.content .content__text .btn {
  padding: 14px 32px;
  width: 130px;
  height: 52px;
  background: #3671E9;
  border-radius: 32px;
  border: none;
}

.content__bottom {
  margin-top: 200px;
}
.content__bottom h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.content__bottom h6 {
  width: 622px;
  height: 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #e0e0e0;
  margin: 24px auto;
  margin-bottom: 140px;
}

.Calculate {
  margin-bottom: 100px;
  width: 700px;
  height: 300px;
  background: #ffffff;
  border-radius: 16px;
  filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.05));
  position: relative;
  bottom: 120px;
  left: 195px;
}
.Calculate .Calculate__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.Calculate .Calculate__form-input {
  width: 250px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 10px;
  font-size: 16px;
}
.Calculate .Calculate__form-select {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 10px;
  font-size: 16px;
  width: 150px;
}

.Calculate__form--button {
  padding: 14px 32px;
  width: 130px;
  height: 52px;
  background: #3671E9;
  border-radius: 32px;
  border: none;
  width: 147px;
  height: 59px;
}
.Calculate__form--button .Calculate__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.Calculate__bottom {
  margin: 60px 8px;
}
.Calculate__bottom-title {
  margin-left: 15px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3671e9;
}
.Calculate__bottom-subtitle {
  margin-left: 15px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #0d0d2b;
}
.Calculate__bottom-subtitle-text {
  color: #3671e9;
}
.Calculate__bottom-subtitle-textera {
  margin-left: 15px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #828282;
}

.bacround__color {
  background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
}

.section h5 {
  width: 741px;
  height: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #0D0D2B;
  margin: 0 auto;
}
.section .Cryptocurrencies-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .Cryptocurrencies-section .box:hover img {
  transform: rotateY(360deg);
  transition: 1s;
}
.section .Cryptocurrencies-section .box:hover .box-text {
  color: #ffffff;
}
.section .Cryptocurrencies-section .box:hover .title-smal {
  color: #ffffff;
}
.section .Cryptocurrencies-section .box:hover .bnt__icon {
  background-color: #FAFBFF;
  color: #e0e0e0;
}
.section .Cryptocurrencies-section .box:hover {
  background: #2B076E;
  color: #FFFFFF;
  transform: scale(1.1);
  transition: 0.6s;
  box-shadow: 0px 40px 40px #391777;
}
.section .Cryptocurrencies-section .box-title {
  margin-left: 118px;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.section .Cryptocurrencies-section .box-title .title-smal {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  text-align: center;
  /* Neutral / White */
  color: #0f0e0e;
}

.top-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #BDBDBD;
  opacity: 0.7;
}

.box-text {
  width: 322px;
  height: 56px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #828282;
}

.box {
  text-align: center;
  padding: 50px 0px;
  border-radius: 10px;
  width: 340px;
  height: 276px;
  background: #FFFFFF;
  mix-blend-mode: overlay;
  border-radius: 16px;
}
.box .btn2 {
  padding: 16px 16px 16px 24px;
  display: flex;
  width: 202px;
  height: 64px;
  background: #3671e9;
  border-radius: 32px;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  align-items: center;
  margin-top: 25px;
  margin-left: 70px;
}
.box .btn2 .bnt__icon {
  margin-left: 24px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.btn__none {
  display: none;
}

.bnt__icon2 {
  margin-top: 25px;
}

.section__market {
  background-color: #2B076E;
  padding-top: 50px;
  padding-bottom: 100px;
}
.section__market .market__title {
  margin: 0 auto;
  width: 750px;
  text-align: center;
  margin-bottom: 30px;
}
.section__market .market__title .title {
  width: 758px;
  height: 120px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.invest__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0;
}
.invest__box .invest__box__left {
  width: 35%;
}
.invest__box .invest__box__left .title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #FFFFFF;
}
.invest__box .invest__box__left .invest__text {
  width: 408px;
  height: 56px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #E0E0E0;
  letter-spacing: 0.01em;
  margin-bottom: 30px;
}
.invest__box .invest__box__left .btn {
  padding: 14px 32px;
  width: 130px;
  height: 52px;
  background: #3671E9;
  border-radius: 32px;
  border: none;
  color: #FFFFFF;
}
.invest__box .invest__box__right {
  position: relative;
  width: 500px;
  margin-left: -50px;
  background-color: #35068C;
  padding: 20px;
  border-radius: 15px;
}
.invest__box .invest__box__right .bitcoin__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invest__box .invest__box__right .bitcoin__box .bitcoin__box__right__number {
  color: #F8F9FB;
}
.invest__box .invest__box__right .bitcoin__box__left {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}
.invest__box .invest__box__right .bitcoin__box__left .style {
  margin-bottom: 25px;
  color: #F8F9FB;
}
.invest__box .invest__box__right img {
  margin-left: 0px;
}

.left__center {
  line-height: 2px;
}
.left__center .trade__text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F2F2F2;
}
.left__center .title_numbers1 {
  font-size: 27px;
  line-height: 54px;
  margin-bottom: 8px;
  color: #ffffff;
}
.left__center span {
  margin-top: -25px;
}

.bitcoin__box {
  margin-bottom: 30px;
}

.bitcoin__box__left {
  align-items: normal;
}
.bitcoin__box__left img {
  margin-right: 10px;
}
.bitcoin__box__left .left__center {
  margin-right: 10px;
}
.bitcoin__box__left .left__center span {
  color: #fff;
}

.trade__lft {
  position: absolute;
  background-color: #491F98;
  padding: 10px;
  border-radius: 10px;
  bottom: -100px;
  left: 50px;
  width: 150px;
}
.trade__lft .position {
  margin-top: 16px;
}
.trade__lft .title-left {
  font-size: 24px;
  margin-bottom: 5px;
  color: #FFFFFF;
}

.trade__right {
  position: absolute;
  background-color: #491F98;
  right: 40px;
  padding: 10px;
  border-radius: 10px;
  bottom: -40px;
}
.trade__right .trade__text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5px;
}
.trade__right .title-right {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.statistic__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 170px 0;
}
.statistic__box .statistic__left {
  margin-left: -60px;
  margin-right: 60px;
}
.statistic__box .statistic__right .title__right--text {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #FFFFFF;
}
.statistic__box .statistic__right .statistic__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #E0E0E0;
  margin-bottom: 30px;
}
.statistic__box .statistic__right .btn {
  padding: 14px 32px;
  width: 130px;
  height: 52px;
  background: #3671E9;
  border-radius: 32px;
  border: none;
  color: #FFFFFF;
}

.Profit_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Profit_section .btn {
  padding: 14px 32px;
  width: 130px;
  height: 52px;
  background: #3671E9;
  border-radius: 32px;
  border: none;
  color: #FAFBFF;
}
.Profit_section-bottom {
  margin-top: 24px;
  width: 408px;
  height: 84px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #E0E0E0;
}
.Profit_section-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #FFFFFF;
}

.box__left {
  width: 40%;
}

.box__right {
  width: 50%;
  background-color: #35068C;
  padding: 15px;
  border-radius: 15px;
}

.box__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
}
.box__wrapper p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #c2bebe;
}
.box__wrapper .wrapper__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box__wrapper .item__width {
  width: 90px;
}
.box__wrapper .wrapper__img {
  margin-right: 20px;
}

.wrapper__name h4 {
  font-size: 20px;
  color: #fff;
}

.wrapper__item--width {
  width: 90px;
}

.wrapper__item--color2 {
  color: #FF7676;
}

.wrapper__item--color1 {
  color: #8FFFBE;
}

.box__right .box__wrapper:hover {
  background-color: #4610AD;
  margin-left: -80px;
  margin-right: 40px;
  border-radius: 15px;
}

.start__mining {
  background: linear-gradient(rgb(43, 7, 110) 0%, rgb(13, 13, 43) 100%);
  padding: 70px 0px;
}

.mining__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 175px;
  background-color: rgb(54, 113, 233);
  margin-top: 30px;
  position: relative;
  padding: 20px 30px;
  border-radius: 16px;
}
.mining__box h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #FFFFFF;
  mix-blend-mode: normal;
}
.mining__box P {
  margin-top: 20px;
  width: 348px;
  height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  mix-blend-mode: normal;
}
.mining__box .bacimg {
  position: absolute;
  top: 0;
}

.box__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mining__righet .mining__input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 400px;
  background-color: rgb(54, 113, 233);
  padding-bottom: 10px;
}
.mining__righet input::-moz-placeholder {
  color: white;
}
.mining__righet input::placeholder {
  color: white;
}
.mining__righet .btn3 {
  padding: 14px 32px;
  width: 152px;
  height: 55px;
  background: #FFFFFF;
  border-radius: 32px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #0D0D2B;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */